@{
    ViewBag.Title = "Admin";
}
<h1>Website Administration</h1>
<div class="panel panel-primary">
    <div class="panel-heading"><span class="panel-title">Installed Modules</span></div>
    <div class="panel-body">
        <p>
            Select one of the installed modules below to administer.
        </p>
        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("Developer Tools", "Index", "DeveloperTools")</li>
            <li class="list-group-item">@Html.ActionLink("Logging", "Index", "Logging.Admin")</li>
            <li class="list-group-item">@Html.ActionLink("Versioning", "Index", "Versioning.Admin")</li>
            <li class="list-group-item">@Html.ActionLink("Security", "Index", "Security.Admin")</li>
            <li class="list-group-item">@Html.ActionLink("Lookups", "Index", "Lookups.Admin")</li>
        </ul>
    </div>
</div>