@model Eleflex.Security.Web.Security.Roles.PermissionsViewModel
@{
    ViewBag.Title = "Manage Role Permissions";
}
<h1>Manage Role Permissions</h1>
<div class="container">
    <div class="well">
        @Html.ActionLink("Back to Role", "Edit", new { roleKey = Model.RoleKey }, new { @class = "btn btn-sm btn-primary", @type = "button" })
        <span> <label>Name:</label> @(Model.Name)</span>
    </div>
    <h2>Assigned Permissions</h2>
    @Html.ActionLink("Add New Permission", "EditPermission", new { roleKey = Model.RoleKey }, new { @class = "btn btn-primary", @type = "button" })
    <table class="eleflexdatatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Start</th>
                <th>End</th>
                <th>Comment</th>
                <th style="width:150px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RolePermissions != null)
            {
                for (int i = 0; i < Model.RolePermissions.Count; i++)
                {
                    <tr>
                        <td>@Model.RolePermissions[i].PermissionName</td>
                        <td>@if(Model.RolePermissions[i].Inactive){<text>Inactive</text>}else{<text>Active</text>}</td>
                        <td>
                            @if(@Model.RolePermissions[i].StartDate.HasValue)
                            { @Model.RolePermissions[i].StartDate.Value.ToLocalTime().DateTime}
                        </td>
                        <td>
                            @if (@Model.RolePermissions[i].EndDate.HasValue)
                            { @Model.RolePermissions[i].EndDate.Value.ToLocalTime().DateTime}
                        </td>
                        <td>@Model.RolePermissions[i].Comment</td>
                        <td>
                            @Html.ActionLink("Edit", "EditPermission", new { roleKey = Model.RoleKey, rolePermissionKey = Model.RolePermissions[i].RolePermissionKey }, new { @class = "btn btn-sm btn-primary", @type = "button" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
